{% extends 'base.html' %}

{% block title %}About{% endblock title %}
<head>
      <style>
    .au-head {
      color: #fff;
      font-size: 42px !important;
    }

    p.au-sign {
      font-size: 15px
    }

    .au-sign span {
      font-size: 14px
    }

    .grey-bg::before {
      width: 96.5%;
    }

    .grey-bgfull::before {
      width: 100% !important;
    }

    .emp-pos {
      color: #000 !important;
      margin-bottom: 5px;
    }

    .emp-blk {
      margin: 50px 10px;
    }

    .emp-para {
      padding: 6px 0;
      background: #fff;
      margin-top: 20px;
      position: relative;
    }

    .emp-para::before {
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 15px solid white;
      left: 0;
      right: 0;
      top: 0;
      margin: 0 auto;
      margin-top: -15px;
    }
    .level-menu nav.page-nav ul {
      display:flex !important;
    }
  </style>
  </head>

{% block body %}
<body>

  <!--================================
HEADER
==================================-->

  <div id="headerContent"></div>

  <!--================================
PAGE WRAP
==================================-->

  <div class="page-wrap">

    <!--================================
CONTENT
==================================-->
    <div class="parallax-container about-us">
      <div class="container-fluid parallax-text">
        <div class="row">
          <div class="col-md-12 text-center">
    

    <!-- nav bar Start-->
      <div class="level-menu level-menu-environment" id="pageLevelMenu"></div>
    <!-- nav bar End -->

    <div class="container-fluid">
      <div class="row add-mrgtop wow bounceInUp">
        <div class="col-md-3">
          <div class="md-img text-center"> <img class=" lazy" src="/media/gettyimages-188052258-612x612.jpg" alt=".."style=" width: 350px;
  height: 500px;">
            <p style="font-size:15px;margin-top:10px;">
              <span style="font-size: 14px; ">
            </p>
          </div>
        </div>
        <div class="col-md-9 grey-bg">
          <div class="col-md-12">
            <article class="content-para">
              <h1 class="article-head">Quality You Can Trust</h1>
              <p>At Rogers, we uphold the philosophy of continuous improvement (Kaizen) because we believe that there is
                always scope to do better. It is this very philosophy that drives us towards quality, making it a way of
                life at Rogers. </p>
              <p>The tradition at Rogers has always been to provide premium quality cars backed with reliable services
                to our customers. We ensure that the quality meets the international standards while keeping in mind the
                local sensitivities. </p>
              <p>Our firm belief in putting customers first has constantly enabled us to respond effectively to your
                needs, whether in terms of quality, service or the driving experience. </p>
              <p>Rogers's renowned reputation of Quality Durability and Reliability (QDR) has led our steady growth in
                the Indian automotive market. We are proud to declare that over 1 million Indians are part of the ever
                growing Rogers family. </p>
              <p>We also strive towards developing a more sustainable future and being pioneers in the Hybrid Technology
                is our first step towards this movement. Through initiatives focused on education, community development
                and the environment, we aim to create a company that works in harmony with nature and society. </p>
              <p>I would like to thank all our partners who have been instrumental in our growth. We look forward to
                strengthening our relationship with you and welcome you to be a part of the Rogers family. </p>
              <strong>

              </strong>
            </article>
          </div>
        </div>
      </div>
  
       
    <div class="full-width add-mrgtop grey-bg grey-bgfull ">
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <div class="container">
            <div class="row">
              <!--<div class="col-md-4 text-center">
                <div class="emp-blk wow zoomIn">
                  <div class="emp-img"> <img class=" lazy" src="/images/toyota-in-india/about/img1.png"
                      alt="Shekar Viswanathan"> </div>
                  <div class="emp-para">
                    <p class="emp-pos">Vice Chairman & <br>
                      Whole-time Director</p>
                    <p> <strong>Mr. Shekar Viswanathan </strong> </p>
                  </div>
                </div>
              </div>-->



            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row add-mrgtop wow bounceInUp">
      <div class="col-md-4">
        <div class="md-img text-center"> <img class=" lazy" src="https://static2.toyotabharat.com/images/toyota-in-india/about/emp1.jpg" alt="Our Most Valuable Asset - Our Employees"> </div>
      </div>
      <div class="col-md-8">
        <div class="col-md-12">
          <article class="content-para">
            <h1 class="article-head">Our Most Valuable Asset - Our Employees</h1>
            <p>At Toyota, the philosophy of Mutual Trust and Respect is at the core. Our employees are vital and
              inevitably the most valuable asset. We aim to provide a stable employment and world-class working
              conditions balanced with the progress of the company.</p>
            <p>The company's fundamental DNA- the Toyota Way enables us to transcend language and nationality. The two
              supporting pillars are: </p>
            <p><strong>Constant Improvement:</strong> We put forth only the best ideas and efforts.</p>
            <p> <strong>People, a priority:</strong> We firmly believe in individual efforts and good team work. From
              the perspective of Human Resource Management, we strive towards: </p>
            <p>Ensuring a work environment where trust is foremost<br>
              Generating a mechanism for continuous improvement<br>
              Building teamwork for optimisation of the entire company<br>
              A committed human resources development</p>
          </article>
        </div>
      </div>
    </div>
    <div class="row add-mrgtop wow bounceInUp">
      <div class="col-md-4">
        <div class="md-img text-center"> <img class=" lazy" src="https://static2.toyotabharat.com/images/toyota-in-india/about/emp2.jpg" alt="Empowering Employees"> </div>
      </div>
      <div class="col-md-8">
        <div class="col-md-12">
          <article class="content-para">
            <h1 class="article-head">Empowering Employees</h1>
            <p>Employees are the main source of inspiration and strength for a company. We, at Toyota, strive to
              reflect 'Continuous Improvement' and 'Respect for People' in all our activities. Employee suggestions
              are taken very seriously and implemented to improve the working environment.
            </p>
            <p>Training programs are a regular feature in Toyota plants across Japan, Taiwan and Indonesia. Quality
              Circles ensure teamwork, innovation and productivity. TKM's concept of 'Information Time' or I-Time
              facilitates direct communication between team members and leaders.
            </p>
            <p>A fully-equipped canteen, lockers, healthcare centres, round-the-clock doctors & commuting facilities
              are just some of the ways the company ensures that employees get the best of opportunities to grow and
              excel.
            </p>
          </article>
        </div>
      </div>
    </div>
  </div>
  <!--================================
FOOTER
==================================-->

  <div id="snav" class="en"></div>
  <footer class="footer add-mrgtop" id="footerContent"> </footer>

  <!--================================
FOOTER END
==================================-->
  
  <script src="https://static2.toyotabharat.com/js/jquery-3.2.1.min.js"></script>
  <script src="https://static2.toyotabharat.com/js/bootstrap.min.js"></script>
  <script src="https://static2.toyotabharat.com/js/common.js"></script>
  <script src="https://static2.toyotabharat.com/js/jquery.lazy.min.js"></script>
  <script src="https://static2.toyotabharat.com/js/wow.min.js"></script>
  <script>

    $(window).scroll(function () {
      "use strict";
      var windowWidth = $(window).width();
      if (windowWidth >= 480) {
        var wScroll = $(this).scrollTop();
        $('.parallax-container .parallax-img').css({
          'transform': 'translate(0px,' + wScroll / 10 + '%)'
        });
      }
    });
    $("#pageLevelMenu").load("./page-menu.html")
    $(document).ready(function (e) {
      $('.lazy').Lazy();
      bk_send('site|main_site, Category|About');
      // ANIMATE CSS JS START
      wow = new WOW(
        {
          animateClass: 'animated',
          offset: 50
        }
      );
      wow.init();
    });

  </script>
</body>
  
{% endblock body %}
