{% extends 'base.html' %}
 {% block title %}CheckOut{% endblock title %}
 {% block body %}
 <div class="container mt-3">
    <div class="row">
        <div class="col-md-6">
            <h3>Item in the cart</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Service</th>
                        <th>Rate</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cs in cart.cartservice_set.all %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{cs.service.name}}</td>
                        <td>₹{{cs.rate}}</td>
                        <td>{{cs.quantity}}</td>
                        <td>₹{{cs.subtotal}}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th colspan='4' class="text-right">Total</th>
                        <th>₹{{cart.total}}</th>
                    </tr>
                </tbody>
            </table>
            <a class="btn btn-info btn-block" href="{% url 'service_app:services' %}"> Continue Shopping</a>
            <a class="btn btn-secondary btn-block" href="{% url 'service_app:mycart' %}">Update Cart</a>
        </div>
        
        <div class="col-md-6">
        <div class="form-group">
            <h3 class="">Checkout Form</h3>

            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-success">Place Order</button>
            </form>
        </div>
        </div>

    </div>
</div>
<style>
    form{
        background-color: rgb(245, 245, 245);
        font-family: Sofia;
        font-style: initial;
    }
</style>
 
 
 {% endblock body %}