{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block body %}
<style>
    .errorlist{
        color: red;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h3>Customer Login Form</h3><hr>
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}

                {% if error %}
                <li style="color: red;">{{error}}</li>
                {% endif %}
                <button class="btn btn-dark">Login</button>
            </form>
            {% comment %} <p>Forgotten Password? <a href="{% url 'Core:forgotpassword' %}">Reset Now</a></p> {% endcomment %}
            <p>Don't have a account <a href="{% url 'service_app:customerregistration' %}{% if request.GET.next %}?next={{ request.GET.next }} {% endif %}">Signup</a></p>
        </div>

    </div>
</div>

{% endblock %}