{% extends 'base.html' %}
{% comment %} {% load static %} {% endcomment %}
<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta name ="viewport" content ="width=device-width , initial-scale=1.0">
    {% block title %}Services{% endblock title %}
     
   

 
    
</head>

{% block body %}
<form class="d-flex align-items-end bg-light mb-3" action ="/search" method="GET">
 <input class="form-control " type="search" name="keyword" placeholder="Search Services here...." aria-label="Search">
<button type="submit" class="btn btn-primary">
    <i class="fa fa-search"></i>
  </button>
</form>
<main>


 
<div class ="container-fluid mt-2">
    <div class="row">
  
        <div class="col-lg-3 mx-auto">
        <h5> Select Service category</h5>
   
            <ul class="list-group">
                <li class="list-group-item"><a href="{% url 'service_app:services' %}">All</a>
                </li>
                {%for category in categories%}
                
                <li class="list-group-item">
                    <a href = "{{category.get_absolute_url}}">{{category.name}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% if categorie %}{% else %}{% endif %}
        <div class="col-lg-9 mx-auto" >
            <div class ="row mx-auto">
             {% for s in service %}
           
                <div class="card mx-auto mb-3 shadow-sm" style="width:18rem;">
                    <img src="/media/{{s.image}}" class=" card-img-top" alt="/"style="height: 250px;width: 285px;">            
                        <div class="card-body"> 
                            <p class="card-title">{{s.name}}</p>
                            <p class="card-text"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16"><path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/><path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/></svg>&nbsp;{{s.Duration}}</p>
                            <p class="card-text"><i class="fa fa-inr"></i>&nbsp;{{s.price}}</p>
                           
                                <div class="btn-group">
                                    <a href="addtocart/{{s.id}}" class="btn btn-primary cart">Add to Cart</a> &nbsp;&nbsp;&nbsp;
                                    <a href="showservice/{{s.id}}"><button  class="btn btn-primary cart" id="qv{{s.id}}" >QuickView</button></a>
                                </div>
                            
                        </div>
                </div>
              
                {% endfor %}
          </div>
    </div>
    </div>
</div>

</main> 


 
 {% block js %}
{% endblock js %} 
{% endblock body%}


</html>