{% extends 'base.html' %}

{% block title %}{{service.name}}{% endblock title %}

{% block body %}
<div class ="container my-4">
  <div class="row">
    <div class ="col-md-4">
      <div class="row">
        <img src="/media/{{service.image}}" width="250px" height="300px">
     </div>
  </div>
<div class="col-md-8">
      <h5>{{service.name}}</h5>
       <p><i class="fa fa-inr"></i>&nbsp;<b>{{service.price}}</b></p>
        <p> {{service.Warranty}}</p>
        <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16"><path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/><path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/></svg>
         {{service.Duration}}</p>
      <p>{{service.what_included}}</p>
      
  </div>
</div>
</div>



{% endblock body %} 
